# Configuration for Netgear RAX75 Rebooter
# Sourced by /usr/local/bin/rebootrax75.sh

# WAP host name (without domain)
WHOST=www
# WAP domain name (without hostname)
WDOM=routerlogin.net

# WAP username
WUSER=admin
# WAP password
WPASS=

# Options
DRY_RUN=0
INSECURE=0
VERBOSE=0
